{
  "env": {
    "commonjs": {
      "presets": [
        "@babel/preset-flow",
        "@babel/preset-react",
        "@babel/preset-env"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-proposal-object-rest-spread",
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true
          }
        ]
      ]
    },
    "umd": {
      "presets": [
        "@babel/preset-flow",
        "@babel/preset-react",
        [
          "@babel/preset-env",
          {
            "useBuiltIns": false,
            "modules": false
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-modules-umd",
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true
          }
        ]
      ]
    }
  }
}
